
* {
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7ca6b3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
}

.hero-container {
    background-color: #eeeeee;
    border-radius: 10px;

    padding-bottom: 1rem;

    margin-bottom: 3rem;
}

.hero-container {
    background-color: oklch(95% 0 0);
    border-radius: 10px;

    padding-bottom: 1rem;

    margin-bottom: 3rem;
}

.hero-img {
    width:100%;
}

.hero-text {
    padding: 1.5rem;
}

.hero-rating {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
}

.review-section {
    background-color: #abd6e3;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.add-review {
    padding: 1.5rem;
    background-color: #eeeeee;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, button {
    background-color: #ffffff;
    padding: 0.5rem 1rem ;
    border:  none;
    border-radius: 10px;
}

button:hover {
    background-color: #dedede;
    cursor: pointer;
}

.reviews-container {
    margin-top: 1rem;
    padding: 1rem;
   
}

.reviews {
    display: flex;
    flex-direction: column-reverse;
}

.review {
    background-color: #eeeeee;
    padding: 0.5rem 1rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    margin-bottom: 1rem;

}

.description {
    flex-grow: 1;
    word-break: break-all;
    margin-right: 1rem;
}

.delete-btn {
    color: white;
    background-color: red;
}



.stars-rating {
    display: flex;
    flex-direction: row;
}

.star, .star-btn {
    color: rgb(143, 143, 143);
    font-size: 2rem;
}

.star-btn {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.star-btn:active, .star-btn:hover, .star-btn:has(~.star-btn:hover){
    background: none;
    color: gold;
}

.star-btn:hover ~ .star-btn{
    color: rgb(143, 143, 143);
}


.star-btn-selected {
    color: gold;
}


.rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


@media screen and (min-width: 620px) {
    main {
        max-width: 600px;
    }
}   

@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.5rem;
    }

    .star{
        font-size: 1rem;
    }

    .delete-btn {
        margin-left: 1rem;
        padding: 0.5rem;
    }
}    
