
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    width: 600px;
}

.hero-img {
    width:100%;
}

.hero-text {
    padding: 1rem;
}

.hero-text > h1 {
    margin-bottom: 1.5rem;
}